<h1>My tasks</h1>
<% @tasks.each do |task| %>
  <ul>
    <li>
      <%= link_to done_path(task) do %>
        <% if task.completed %>
            <%= '<i class="fas fa-check-circle"></i>'.html_safe %>
          <% else %>
            <%= '<i class="far fa-times-circle"></i>'.html_safe %>
        <% end %>
      <% end %>
      <%= link_to task.title, task_path(task) %> -
<%= link_to delete_path(task),
      method: :delete,
      data: { confirm: "Are you sure you want to delete this task?" } do %>
      <%= '<i class="fas fa-trash-alt"></i>'.html_safe %>
      <% end %>
    </li>
  </ul>
<% end %>

<%= link_to 'Add a new task', new_path(@task) %>



